# Backend Configuration
DATABASE_URL=
JWT_SECRET=
REDIS_URL=

# Frontend Configuration
REACT_APP_API_URL=https://bskyclone.site/api
REACT_APP_HUB_URL=https://bskyclone.site/hubs/chat

# HTTPS Configuration
DOMAIN_NAME=bskyclone.site
EMAIL=tsutsuji2002@gmail.com
